header {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    background: transparent; 
    box-sizing: border-box;
    z-index: 10;          

    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
}

.btn-login {
    background-color: #17356D;
    color: #fff;
    border: none;
    padding: 18px 45px;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: background-color 0.3s;
    font-size: 12px;
}

.login-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;              
}

/*lado esquerdo*/
.form {
    flex: 1;
    background-color: #fff;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 30px 90px;
}

.form h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px; 
}


/*lado direito*/
.image-side {
    flex: 1;
    background-color: #f4f4f4;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;       
    margin: 0; 
}

.capelo {
    position: absolute; 
    top: 50%;           
    left: 53%;          
    transform: translate(-20%, -50%); 
    z-index: 5;         
    max-width: 900px;   
}

.capelo img {
    transform: rotate(10deg); 
}

label{
    color: #17356D;
}

input::placeholder {
    color: rgb(140, 140, 140);        
}

input{
    margin-top: 5px;
    padding: 13px;
    border: 2px solid #17356D;
    border-radius: 25px;
    outline: none; 
    padding-right: 200px;
}

.btn-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;  
    width: fit-content;     
    margin-top: 20px;
}

.btn-entrar {
    padding: 13px 170px;
    border: none;
    border-radius: 25px;
    background-color: #17356D;
    color: #fff;
    cursor: pointer;
}

#esqueceu-senha {
    font-size: 13px;
    margin-top: 10px; 
}

#esqueceu-senha a {
    text-decoration: none;
    color: #17356D;
}

#esqueceu-senha a:hover {
    text-decoration: underline;
    color: #17356D;
}
